$primary: #4a44bf;
$secondary: #7692ff;
$background: #272c3c;
$grey: #323a50;

.bg {
    height: 100vh;
    width: 100vw;
}

.logo {
    width: 20rem;
    height: 20rem;
}

.text {
    color: whitesmoke;
    font-size: x-large;
}

.field_input {
    border: 2px solid $secondary;
    background-color: $grey;
    border-radius: 5px;
    color: whitesmoke;
}