$primary: #4a44bf;
$secondary: #7692ff;
$background: #272c3c;
$grey: #323a50;


.logo {
    height: 10rem;
    width: 10rem;
}

.card_container {
    margin-left: 10rem;
}

.card {
    max-width: 20rem;
}